{
  "presets": ["@babel/preset-typescript","@babel/preset-react", "@babel/env"] ,
   "plugins": [
    [
      "babel-plugin-styled-components",
      {
        "ssr": false
      }
    ]
  ]
}
 

//o babel env foi para parar o bug na variável de ambiente